*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

main{
    display: flex;
}

.principal{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal img{
    width: 250px;
}

.contactos{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    border-right: solid 1px;
}

.contactos .contacto{
    display: flex;
    min-height: 70px;
    border-color: black;
    border-top: solid 1px;
    padding: 15px;
}

.contactos .contacto:hover{
    display: flex;
    min-height: 70px;
    border-color: black;
    border-top: solid 1px;
    padding: 15px;
    background-color: brown;
    cursor: pointer;
}

.contactos .contacto img{
    width: 60px;
    border-radius: 30px;
}

.contactos .contacto .info{
    text-align: left;
    padding: 10px;
    width: 200px;
}

.nuevo-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 10vh;
    border-color: black;
    border-top: solid 1px;
}


.nuevo-chat button{
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

.nuevo-chat button:hover{
    cursor: pointer;
}

.contactos nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.contactos nav img{
    width: 60px;
    border-radius: 30px;
}

.contactos nav .perfil{
    display:flex ;
    font-size: 15px;
    align-items: center;
}

.contactos nav .perfil:hover{
    cursor: pointer;
}

.contactos nav .perfil .info{
    padding: 10px;
}

.contactos nav .items{
    display: flex;
    align-items: center;
}

.contactos nav .items i{
    padding: 5px;
}

.contactos nav .items i:hover{
    cursor: pointer;
}